<div class="w-75 margin-auto" *ngIf="accountservice.currentUserName">
  <div class="form-container">
    <h2>Change Password</h2>
    <form [formGroup]="changePasswordForm" (ngSubmit)="changePasswordSubmitted()">
      <div class="form-field flex">
        <div class="w-25">
          <label for="currentPassword" class="form-label pt">Current Password</label>
        </div>
        <div class="flex-1">
          <input type="password" id="currentPassword" class="form-input" formControlName="currentPassword" />
          <span class="text-red" *ngIf="(changepassword_currentPassword.touched || isChangePasswordFormSubmitted)
                && (changepassword_currentPassword.errors?.['required'])">Current Password Can`t Be Blank</span>

        </div>
      </div>


      <div class="form-field flex">
        <div class="w-25">
          <label for="newPassword" class="form-label pt">New Password</label>
        </div>
        <div class="flex-1">
          <input type="password" id="newPassword" class="form-input" formControlName="newPassword" />
          <span class="text-red" *ngIf="(changepassword_newPassword.touched || isChangePasswordFormSubmitted)
           && (changepassword_newPassword.errors?.['required'])">
            New Password Can`t Be Blank
          </span>

        </div>
      </div>



      <div class="form-field flex">
        <div class="w-25">
          <label for="confirmNewPassword" class="form-label pt">Confirm New Password</label>
        </div>
        <div class="flex-1">
          <input type="password" id="confirmNewPassword" class="form-input" formControlName="confirmNewPassword" />
          <span class="text-red" *ngIf="(changepassword_confirmNewPassword.touched || isChangePasswordFormSubmitted)
      && (changepassword_confirmNewPassword.errors?.['required'])">
            Confirm New Password Can`t Be Blank
          </span>
          <span class="text-red" *ngIf="(changepassword_confirmNewPassword.touched || isChangePasswordFormSubmitted)
&& (changepassword_confirmNewPassword.errors?.['compareValidator'])">
           New Password and Confirm New Password Don`t Match
          </span>
        </div>
      </div>




      <div class="form-field flex">
        <div class="w-25">

        </div>
        <div class="flex-1">
          <button type="submit" class="button button-green-back">Change</button>
        </div>
      </div>


    </form>
  </div>
</div>
